  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">{% if site.author.twitter %}
    <link rel="apple-touch-icon" href="https://avatars.io/twitter/{{site.author.twitter}}">{% endif %}
    <link rel="stylesheet" href="/assets/css/{% if page.theme %}{{ page.theme }}{% else %}{{ site.theme }}{% endif %}.css" />
    {% for url in layout.css %}<link rel="stylesheet" href="{{ url }}" />{% if include.neon %}
    <style>{{ '@include "neon";' scssify }}</style>{% endif %}
    {% endfor %}<title>{{site.title}}{% if page.shortdescription %} &middot; {{page.shortdescription}}{% endif %}</title>
{% seo title=false %}
  </head>
