  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="stylesheet" href="{{ page.layout }}.css" />
    {% if layout.css %}{% for css in layout.css %}<link rel="stylesheet" href="{{ css }}" />
    {% endfor %}{% endif %}{% if page.neon %}
    <link rel="stylesheet" href="{{ '/assets/css/neon.css' | relative_url }}" />
    {% else %}<style>h1 { font-family: SFSerif-Text, Charter, serif !important; }</style>{% endif %}
    <title>{{site.title}}{% if page.shortdescription %} · {{page.shortdescription}}{% endif %}</title>
  </head>
