    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/ie10-viewport-bug-workaround.js"></script>
    <script src="linkify"></script>
    {% if layout.js %}{% for js in layout.js %}<script src="{{ js }}"></script>
    {% endfor %}{% endif %}
    <script>
    $(document).on('click', 'a[href^="#"]', function (event) {
      event.preventDefault();
    });

    $('html, body').animate({
      scrollTop: $($.attr(this, 'href')).offset().top
     }, 1000);
    </script>
