@font-face {
  font-family: 'ChicagoFLF';
src:     url('https://webfonts.ffonts.net/webfonts/C/H/ChicagoFLF/ChicagoFLF.ttf.woff') format('woff'),
    url('https://webfonts.ffonts.net/webfonts/C/H/ChicagoFLF/ChicagoFLF.ttf.svg#ChicagoFLF') format('svg'),
    url('https://webfonts.ffonts.net/webfonts/C/H/ChicagoFLF/ChicagoFLF.ttf.eot'),
    url('https://webfonts.ffonts.net/webfonts/C/H/ChicagoFLF/ChicagoFLF.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}