@font-face {
  font-family: 'Apple-Garamond';
src:     url('https://webfonts.ffonts.net/webfonts/A/P/Apple-Garamond/Apple-Garamond.ttf.woff') format('woff'),
    url('https://webfonts.ffonts.net/webfonts/A/P/Apple-Garamond/Apple-Garamond.ttf.svg#Apple-Garamond') format('svg'),
    url('https://webfonts.ffonts.net/webfonts/A/P/Apple-Garamond/Apple-Garamond.ttf.eot'),
    url('https://webfonts.ffonts.net/webfonts/A/P/Apple-Garamond/Apple-Garamond.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}