@mixin whenSystemIs($scheme) {
  @media (prefers-color-scheme: $scheme) {
    @content
  }
}

@mixin whenThemeIs($scheme) {
  [data-theme="#{$scheme}"] &, &[data-theme="#{$scheme}"] {
    @content
  }
  @if $scheme == "dark" {
    @include whenSystemIs(dark) {
      [data-theme="system"] &, &[data-theme="system"] {
         @content
      }
    }
    @include whenSystemIs(light) {
      [data-theme="inverted"] &, &[data-theme="inverted"] {
         @content
      }
    }
  }
  @if $scheme == "light" {
    @include whenSystemIs(light) {
      [data-theme="system"] &, &[data-theme="system"] {
         @content
      }
    }
    @include whenSystemIs(dark) {
      [data-theme="inverted"] &, &[data-theme="inverted"] {
         @content
      }
    }
  }
}



$motifs: (
  twitter: (
    darkMode: #1DA1F2,
    lightMode: #1DA1F2
  ),
  blue: (
    darkMode: rgb(10,132,255),
    lightMode: rgb(0,122,255)
  ),
  green: (
    darkMode: rgb(48,209,88),
    lightMode: rgb(52,199,89)
  ),
  indigo: (
    darkMode: rgb(94,92,230),
    lightMode: rgb(88,86,214)
  ),
  orange: (
    darkMode: rgb(255,150,10),
    lightMode: rgb(255,149,0)
  ),
  pink: (
    darkMode: rgb(255,55,95),
    lightMode: rgb(255,45,85)
  ),
  purple: (
    darkMode: rgb(191,90,242),
    lightMode: rgb(175,82,222)
  ),
  red: (
    darkMode: rgb(255,69,58),
    lightMode: rgb(255,59,48)
  ),
  teal: (
    darkMode: rgb(100,210,255),
    lightMode: rgb(90,200,250)
  ),
  yellow: (
    darkMode: rgb(255,214,10),
    lightMode: rgb(255,204,0)
  ),
);

@each $motif, $mode in $motifs {
  [data-color="#{$motif}"] {
    a:not(.t-ignore), .t-color {
      color: map-get($mode, darkMode) !important;
      @include whenThemeIs(light) { color: map-get($mode, lightMode) !important; }
    }
    .t-hover { color: inherit !important }
    .btn, button, .t-bg, .t-hover:hover, .t-hover:focus, t-hover:active {
      color: #fff !important;
      background-color: map-get($mode, darkMode) !important;
      @include whenThemeIs(light) { background-color: map-get($mode, lightMode) !important; }
    }
  }
  .t-#{$motif} {
    color: map-get($mode, darkMode);
    @include whenThemeIs(light) { color: map-get($mode, lightMode); }
  }
  .bg-t-#{$motif} {
    background-color: map-get($mode, darkMode);
    @include whenThemeIs(light) { background-color: map-get($mode, lightMode); }
  }
  .hover-bg-t-#{$motif}{
    &:hover, &:focus {
      background-color: map-get($mode, darkMode);
      @include whenThemeIs(light) { background-color: map-get($mode, lightMode); }
    }
  }
}
