---
---

@import url('https://windyboy1704.github.io/San-Francisco-family/website_resources/css/sfpro-text.css');
@import url('https://windyboy1704.github.io/San-Francisco-family/website_resources/css/sfpro-display.css');
@import url('https://windyboy1704.github.io/San-Francisco-family/website_resources/css/sfserif-text.css');

  .container > div {
    display: grid;
    grid-template-areas:
      "nav"
      "header"
      "main"
      "footer"
  }
  
  * { cursor: default; text-rendering: optimizeLegibility; font-feature-settings: "kern", "ss01", "ss07"; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none }
  
  a, a * { cursor: pointer; color: var(--light) }
  a:hover { color: var(--gray) }
  
  body { background-size: cover; background-position: center; background-attachment: fixed; background-repeat: no-repeat; background-image: -webkit-linear-gradient(left, rgba(0,0,0,1) 20%,rgba(0,0,0,0) 100%), url('{{page.headerimage}}'); background-image: -moz-linear-gradient(left, rgba(0,0,0,1) 20%,rgba(0,0,0,0) 100%), url('{{page.headerimage}}'); background-image: -ms-linear-gradient(left, rgba(0,0,0,1) 20%,rgba(0,0,0,0) 100%), url('{{page.headerimage}}'); background-image: -o-linear-gradient(left, rgba(0,0,0,1) 20%,rgba(0,0,0,0) 100%), url('{{page.headerimage}}'); background-image: linear-gradient(left, rgba(0,0,0,1) 20%,rgba(0,0,0,0) 100%), url('{{page.headerimage}}'); max-width: 99%; max-width: 99vw; width:100%;height:100%; font-family: -apple-system,BlinkMacSystemFont,SFPro-Display,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important; }
  
  header h2.h1, header h1.h2 { line-height: 0.9 }
  header .lead span { margin: 0 2px }
  
  blockquote { border-left: solid; padding-left: 1rem }
  
  .bg-blur{ -webkit-backdrop-filter: saturate(180%) blur(20px); -ms-backdrop-filter: saturate(180%) blur(20px); -moz-backdrop-filter: saturate(180%) blur(20px); -o-backdrop-filter: saturate(180%) blur(20px); backdrop-filter: saturate(180%) blur(20px); }
  a.bg-blur:hover { background-color: rgba(255,255,255,0.3); color: rgba(255,255,255,1); }
  
  .text-justify { hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; -webkit-hyphens: auto; }
  .feature-allcaps, .feature-allcaps * { font-feature-settings: "c2sc", "smcp" }
  
  .minh-100 { min-height: 100%; min-height: 100vh }
  
  .btn { margin: 0.1em 0 }
  
  #cta { grid-area: cta; margin-bottom: 0.3em }
  
  .embed-responsive {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 200%;
    min-height: 200%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  #tweets { -webkit-hyphens: auto; hyphens: auto; }
  
  /* Extra small */
  @media (max-width: 575.98px) {
    *, * *, .container, body > div { max-width: 93% !important; max-width: 93vw !important; }
    body { text-shadow: 1px 1px 3px #222; }
  }

  /* Small */
  @media (min-width:576px) {
    .container > div > footer {
      margin-bottom: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(8em, 1fr) );
      grid-gap: 0.5em;
    }
  }

  /* Medium */
  @media (min-width:768px) {
    .container > div {
      grid-template-columns: 7fr 5fr;
      grid-template-areas:
        "header ."
        "main   main"
        "footer footer"
    }
  }

  /* Large */
  @media (min-width:992px) {
    .container > div {
      grid-template-columns: 5fr 1fr 6fr;
      grid-template-areas:
        "header .      ."
        "main   main   ."
        "footer footer ."
    }
  }

  .container > * >  header { grid-area: header  }
  .container > * >     nav { grid-area: nav     }
  .container > * > section { grid-area: main    }
  .container > * >  footer { grid-area: footer  }
