[itemprop="image"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
  max-width: 100% !important;
  height: 57vw;
  object-fit: cover;
  z-index: -1000;
}

body::before {
  @extend [itemprop="image"];
  z-index: -1;
  content: '';
  background-image: -webkit-radial-gradient(top right, rgba(0,0,0,0.2), #000 80%);
  background-image: radial-gradient(top right, rgba(0,0,0,0.2), #000 80%);
}
