[itemprop="image"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
  max-width: 100% !important;
  height: 57vw;
  max-height: 57vw;
  object-fit: cover;
  z-index: -1000;
}

$modes: system, inverted;

@mixin theme($mode) {
  [data-theme="#{$mode}"] {
    @content
  }
}

body{
  &::before {
    @extend [itemprop="image"];
    z-index: -1;
    content: '';
    background-image: -webkit-radial-gradient(top right, rgba(0,0,0,0.2), $black 70%);
    background-image: radial-gradient(top right, rgba(0,0,0,0.2), $black 70%);
  }

  &[data-theme="system"]::before {
    @media (prefers-color-scheme: light) {
      background-image: -webkit-radial-gradient(top right, rgba(255,255,255,.2), $near-white 70%);
      background-image: radial-gradient(top right, rgba(255,255,255,.2), $near-white 70%);
    }
  }

  &[data-theme="inverted"]::before {
    @media (prefers-color-scheme: dark) {
      background-image: -webkit-radial-gradient(top right, rgba(255,255,255,.2), $near-white 70%);
      background-image: radial-gradient(top right, rgba(255,255,255,.2), $near-white 70%);
    }
  }
}