$themecolour: blue;
$themecolourondark: bluedark;
$themecolouronlight: bluelight;

$black: black;
$near-black: #AAB8C2; /*#777;*/
$near-white: #E1E8ED; /*#f4f4f4;*/
$white: white;
$dim-text: #14171A;

.bg {
  &-near {
    &-white { background-color: $near-white; }
    &-black { background-color: $near-black; }
  }
}

.bg-gray { background-color: $near-black; }
.gray { color: $near-black; }

.near {
  &-white { color: $near-white; }
  &-black { color: $near-black; }
}

@mixin borders { &, * { border-color: $middle; } }

@mixin darker { background-color: $near-black; }

@mixin dark {
  background-color: $black;
  color: $white;
  @include borders;

  [itemprop="image"], figure {
    opacity: .75;
    transition: opacity .5s ease-in-out;
    &:hover { opacity: 1 }
  }
}

@mixin lighter { background-color: $white; }

@mixin light {
  background-color: $near-white;
  color: $dim-text;
  @include borders;
}

@mixin theme($mode) {
  [data-theme="#{$mode}"] {
    @content
  }
}

$modes: system, inverted;

@each $mode in $modes {
  @include theme($mode) {
    @if $mode == system { @include dark } @else if $mode == inverted { @include light };
    @media (prefers-color-scheme: light) {
      @if $mode == system { @include light } @else if $mode == inverted { @include dark };
    }
  }
}
