#twitter {
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  min-width: 272px;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.6);
  @include agents(transform, translateX(95%));
  @include agents(transition, transform .5s ease-in 3s);

  &:hover {
    @include agents(transform, translateX(0%));
    @include agents(transition, transform .5s ease-in 0s);
  }

  li {
    background: transparent !important;
  }

}

#tweets { @include agents(hyphens, auto); }
