$serif: -apple-system-ui-serif, SFSerif-Text, Charter, serif;
$sans-serif: -apple-system, BlinkMacSystemFont, SFPro-Display, San Francisco, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$mono: -apple-system-ui-monospaced, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$red: #ed5565;
$coral: #fe8a71;
$orange: #f8ac59;
$yellow: #f6cd61;
$teal: #23c6c8;
$green: #1ab394;
$blue: #1c84c6;

$black: #000; /* text only on light background */
$darkcharcoal: #222; /* text only on light background */
$charcoal: #353534; /* text only on light background */
$navycharcoal: #36454f; /* muted on dark background */
$darkgray: #a9a9a9; /* universal */
$gray: #808080; /* universal */
$lightgray: #d3d3d3; /* muted on light background */
$offwhite: #f2f2f2; /* text only on dark background */
$white: #fff; /* text only on dark background */