---
---

@import "mixins", "variables", "theme", "chicago", "garamond", url("//unpkg.com/tachyons@4.10.0/css/tachyons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  font-size: 17px; /*12pt*/
  font-weight: normal;
  margin: 0;
  font-style: normal;
}

body {
  background-color: #222;
  color: #c8c8c8;
  color: #aaa;
  color: rgb(174,174,178); /* dark mode high-contrast */
  color: white;
  font-family: Geneva, SF MONO, Monaco, 'Share Tech Mono', -apple-system, monospace;
  line-height: 2em;

-webkit-columns: 800px;
   -moz-columns: 800px;
        columns: 800px;
}

@media (-webkit-device-pixel-ratio : 3) and (prefers-color-scheme: dark) {
  body {
    background: #000;
  }
}

body {
  margin: auto;
  max-width: calc(43em/9*10) !important;
}

body > *, h1, h2, h3, h4, h5, h6, p, .e2e0, ul {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 2em auto;
  max-width: 43em;
  padding: 0 1em;

-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

main figure {
  width: 100%;
}

figcaption {
  margin: 0 auto !important;
}

figcaption::before {
  content: '\003E\0020';
  margin-left: -1em;
}

.e2e, .embed-container {
  padding-left: 0;
  padding-right: 0;
}

.h1:first-child {
  letter-spacing: 1em;
  margin: 1em auto 3em;
  text-align: center;
}

h1:first-child {
  font-family: Apple-Garamond;
  font-size: 4em;
  line-height: initial;
  margin: 1em auto;
  margin: 0.25em auto;
  max-width: calc(43em / 4);
  /*text-align: center;*/
  text-transform: initial;
  padding: 0 0.25em;
}

h1, h2, h3, h4, h5, h6, a, strong {
  color: #fff;
  text-decoration: none;
}

.em {
  color: rgba(255,255,255,0.6);
  text-shadow: 1px 0 0 rgba(255,255,255,0.6);
}

/*a {
  background: rgba(127,127,127,.5);
  border: thin solid;
  border-radius: 5px;
  padding: 1em;
}*/

a {
  border-bottom: thin solid;
  nfont-family: ChicagoFLF;
}

a:hover {
  background: #fff;
  color: #222;
  margin: -0.2em;
  padding: 0.2em;
}

h1, h2, h3, h4, h5, h6 {
  text-transform:  uppercase;
}

ul {
  list-style: none outside none;
}

ul, ol {
  padding: 0 0 0 1em;
}

ul li::before {
  content: '\00D7';
}

ol li:before, ul li::before {
  padding-right: 1em;
}

.tabular {
  max-width: 43em;
  width: 100%;
  padding: 0;
}

.tabular > li {
  display: inline-block;
  nmargin: 0 -0.3125em;
  margin-left: 1em;
  min-width: calc(43em / 9 * 2);
  min-width: 20%;
  *display: inline;
}

.tabular > li:before {
  content: '';
  padding: 0;
}

.accent, em {
  color: rgb(255,69,58); /* dark mode */
  color: rgb(255,105,97); /* dark mode high-contrast */
}

.borders {
  position: relative;
  border: thin solid;
}
.borders:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: thin solid;
}

.embed-responsive {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 200%;
  min-height: 200%;
  width: auto;
  height: auto;
  z-index: -100;
  @include agents(transform, translateX(-50%) translateY(-50%));
}

/*@media (prefers-color-scheme: light) {
  html, body {
    background: lightblue;
  }
  body {
    background: #fefefe;
    border: thin solid;
    color: #888;
    color: black;
  }
  h1, h2, h3, h4, h5, h6, a {
    color: #000;
  }
  a:hover {
    background: #222;
    color: #fff;
    margin: -0.2em;
    padding: 0.2em;
  }
  .accent, em {
    color: rgb(215,0,21);
  }
}*/
