---
---

@mixin font-face-src($url) {
  src:url(#{$url + '.eot'});
  src:
    url(#{$url + '.eot?#iefix'}) format("embedded-opentype"),
    url(#{$url + '.woff2'}) format("woff2"),
    url(#{$url + '.woff'}) format("woff"),
    url(#{$url + '.ttf'}) format("truetype");
}

@mixin keyframes($value) {
@-wekbit-keyframes #{$value}
@keyframes #{$value}
}

@include keyframes("turnon{0%{opacity:.2}48%{opacity:.1}50%{opacity:.8}52%{opacity:.2}54%{opacity:1}}")
@include keyframes("buzz{70%{opacity:.8}}")
@include keyframes("blink{40%{opacity:1}42%{opacity:.8}43%{opacity:1}45%{opacity:.2}46%{opacity:1}}")

@font-face{
  font-family:neontubes;
  @include font-face-src('https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family:neoneon;
  src:url(https://www.dropbox.com/s/kvmamtgrail9iar/Neoneon.otf) format("opentype");
  src:url(https://dl.dropboxusercontent.com/s/kvmamtgrail9iar/Neoneon.otf?dl=0) format("opentype");
  font-weight: 400;
  font-style: normal;
}
.h1,.h2,.neon{margin-left:-5px!important}
h1.neon{font-family:neoneon,neontubes,'News Gothic FS',sans-serif;color:#ffd9e2;text-shadow:5px 10px 10px #000,0 0 0 transparent,0 0 10px #ff003c,0 0 20px rgba(255,0,60,.5),0 0 40px #ff003c,0 0 100px #ff003c,0 0 200px #ff003c,0 0 300px #ff003c,0 0 500px #ff003c,0 0 1000px #ff003c;padding-bottom:.2em}
h2.neon{font-family:neontubes;color:#d4eaff;text-shadow:5px 10px 10px #000,0 0 0 transparent,0 0 10px #2695ff,0 0 20px rgba(38,149,255,.5),0 0 40px #2695ff,0 0 100px #2695ff,0 0 200px #2695ff,0 0 300px #2695ff,0 0 500px #2695ff}
h1.neon{-webkit-animation:turnon 5s ease-in normal;animation:turnon 5s ease-in normal}
.blink{-webkit-animation:blink 4s infinite 5s alternate;animation:blink 4s infinite 5s alternate}
.blink+.blink{-webkit-animation:blink 5s infinite 5s alternate;animation:blink 5s infinite 5s alternate}
.blink+.blink+.blink{-webkit-animation:blink 3s infinite 5s alternate;animation:blink 3s infinite 5s alternate}
.buzz,.h2{-webkit-animation:buzz 1ms infinite alternate;animation:buzz 1ms infinite alternate}
/*@-webkit-keyframes turnon{0%{opacity:.2}48%{opacity:.1}50%{opacity:.8}52%{opacity:.2}54%{opacity:1}}
@keyframes turnon{0%{opacity:.2}48%{opacity:.1}50%{opacity:.8}52%{opacity:.2}54%{opacity:1}}
@-webkit-keyframes buzz{70%{opacity:.8}}
@keyframes buzz{70%{opacity:.8}}
@-webkit-keyframes blink{40%{opacity:1}42%{opacity:.8}43%{opacity:1}45%{opacity:.2}46%{opacity:1}}
@keyframes blink{40%{opacity:1}42%{opacity:.8}43%{opacity:1}45%{opacity:.2}46%{opacity:1}}*/
