---
---

@import "mixins", "sanfrancisco", "twitter", "sendtoback";

$headerimage: "https://windyboy1704.github.io/San-Francisco-family/website_resources/css/";
  
* {
  cursor: default;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern", "ss01", "ss07";
  @include agents(user-select, none);
}  

a {
  &, * {
    cursor: pointer;
    color: var(--light);
  }
  &:hover { color: var(--gray); }
}
  
body {
  background: black !important;
  max-width: 100%;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,SFPro-Display,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

header {
  h2.h1, h1.h2 { line-height: 0.9 }
  .lead span { margin: 0 2px }
}

h1 { font-family: SFSerif-Text, Charter, serif; }

blockquote { border-left: solid; padding-left: 1rem }

.bg-blur { @include agents(backdrop-filter, saturate(180%) blur(20px)); }

a.bg-blur:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.text-justify { @include agents(hyphens, auto); }
  
.feature-allcaps { &, * { font-feature-settings: "c2sc", "smcp" } }

.minh-100 { min-height: 100%; min-height: 100vh }

.btn { margin: 0.1em 0 }

#cta { grid-area: cta; margin-bottom: 0.3em }
  
.embed-responsive {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 200%;
  min-height: 200%;
  width: auto;
  height: auto;
  z-index: -100;
  @include agents(transform, translateX(-50%) translateY(-50%));
}

/* Extra small */
@media (max-width: 575.98px) {
  *, * *, .container, body > div { max-width: 100% !important; max-width: 100vw !important; }
  body { text-shadow: 1px 1px 3px #222; }
}

.container {
  > * > {
     header { grid-area: header  }
        nav { grid-area: nav     }
    section { grid-area: main    }
     footer { grid-area: footer  }
  }
  > div {
    display: grid;
    grid-template-areas:
      "nav"
      "header"
      "main"
      "footer";
    > footer {
      @media (min-width:576px) { /* Small */
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8em, 1fr) );
        grid-gap: 0.5em;
      }
    }
    @media (min-width:768px) { /* Medium */
      grid: {
        template: {
          columns: 7fr 5fr;
          areas:
            "header ."
            "main   main"
            "footer footer";
        }
      }
    }
    @media (min-width:992px) { /* Large */
      grid: {
        template: {
          columns: 5fr 1fr 6fr;
          areas:
            "header .      ."
            "main   main   ."
            "footer footer ."
        }
      }
    }
  }
}
