---
---

@import "mixins", "variables", "theme", "pax", url("//unpkg.com/tachyons@4.10.0/css/tachyons.min.css");

$min_width: 520px;
$max_width: 1000px;
$min_font: 20px;
$max_font: 27px;

* {
  cursor: default;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern", "ss01", "ss07";
  @include agents(user-select, none);
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
  
.embed-responsive {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 200%;
  min-height: 200%;
  width: auto;
  height: auto;
  z-index: -100;
  @include agents(transform, translateX(-50%) translateY(-50%));
}

body {
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
color: #14171A;
background: #1DA1F2;
background: #e1e8ed;
text-shadow: 0 0 .5em black; }

article {no-max-height:41.7rem;max-width:41.7rem;no-min-width:33.4rem}

header svg { color: #1DA1F2 }
.bg-black > header, .white > header { fill: white; }

footer svg { vertical-align: text-top }
footer * { color: #AAB8C2 }

/*body { background-image: -webkit-linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url(https://pbs.twimg.com/media/EVog35cUUAAf0YS?format=jpg&name=medium); background-size: cover; background-repeat: no-repeat; background-position: center; }
article { color: white !important; background: none !important; border: .1vw solid; }
:not(main *) { color: white !important }
article img { display: none }*/