---
---

@import "mixins", "variables", "theme", "pax", url("//unpkg.com/tachyons@4.10.0/css/tachyons.min.css");

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
  
.embed-responsive {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 200%;
  min-height: 200%;
  width: auto;
  height: auto;
  z-index: -100;
  @include agents(transform, translateX(-50%) translateY(-50%));
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  color: #14171A;
  background: #1DA1F2;
  background: #e1e8ed !important;
}

article {
  no-max-height:41.7rem;
  max-width:41.7rem;
  no-min-width:33.4rem;

  header svg {
    color: #1DA1F2;
  }
  &.bg-black, &.white {
    & > header { fill: white; }
  }

  footer svg { vertical-align: text-top; }
}