---
---

@import "mixins", "variables", "theme", "pax", "embed", url("//unpkg.com/tachyons@4.10.0/css/tachyons.min.css");

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  color: #14171A;
  background: #1DA1F2;
  background: #e1e8ed;
}

article {
  no-max-height:41.7rem;
  max-width:41.7rem;
  no-min-width:33.4rem;

  /*header svg {
    color: #1DA1F2;
  }
  &.bg-black, &.white {
    & > header { fill: white; }
  }*/

  footer svg { vertical-align: text-top; }
}