---
---

:root {
  --pink: #D30F45;
  --pink: -apple-system-pink;
  --accent: var(--pink, AccentColor)
}

* {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern", "ss01", "ss07";
  box-sizing: border-box;
  quotes: "“" "”"
}

html, body, body >:first-child {
  margin:0;
  padding:0
}

body {
  font-family: ui-sans-serif, sans-serif;
  font-size: 13pt;
  line-height: 1.5;
  max-width: 72ch;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 1ch 1em 1ch;
  > nav:first-child {
    background: canvas;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: thin solid GrayText;
    border-color: -apple-system-tertiary-label;
    > * {
      no-max-width: 72ch; no-margin: auto !important; padding: .5em;
      &:first-child { flex-grow: 1 }
    }
  }
}

i, cite, em, var, address, dfn { font-family: ui-serif, serif }

tt, code, kbd, samp, pre, xmp, plaintext, listing { font-family: ui-monospace, monospace }

p:not([align="center"]) { -webkit-hyphens: auto }

a {
  &[href] {
    color: var(--accent);
    text-decoration: none
  }
  &[href^="#fn"] {
    @extend plaintext
  }
}

:not(td,nav,li) > a[href]:not(.user-mention):not([href^="https://twitter.com/"]):not([href^="#fn"]),
summary,
img:not([src^="https://github.com/"]) {
  /*margin: 0 -2ch;
  padding: 1em 2ch;*/
  padding: .75ch 0;
  /*background: rgba(170,170,170,.2);*/
  display: flex;
  align-items: center;
  cursor: pointer
}

.footnotes ol p { display: inline-flex; align-items: center; gap: 1ch; overflow-wrap: anywhere }

li > a[href]:first-child:last-child { display:block }

h1, h2, h3, h4, h5, h6 { line-height: initial }

mark { background-color: #fc0 }

hr {
  border: .5px solid GrayText;
  border-color: -apple-system-tertiary-label
}

[datetime] { font-feature-settings: "ss01", "ss06" }

html:not(.paper) pre,body>:is(picture,img){margin-left:0;margin-right:0;max-width:100%;overflow:auto}

figure>*{margin-left:auto;margin-right:auto}

blockquote{padding-inline-left:1ch}

blockquote>q{margin-inline-start:-1ch}

table {
  border-style: solid;
  border-collapse: collapse;
  margin: auto;
  max-width:100%;
  &, * {
    border-width: .06em;
    border-color: silver
  }
  &[align="center"] {
    margin-left: auto;
    margin-right: auto
  }
  thead {
    border-bottom-style: double;
    border-bottom-width: .18em
  }
  tfoot {
    border-top-style: double;
    border-top-width: .18em
  }
  tr + tr {
    border-top-style: solid
  }
  th { background: rgba(170,170,170,.15) }
  th, td {
    overflow: auto;
    padding: .5rem;
    ignore-white-space: nowrap;
    & + th, & + td { border-left-style: solid }
  }
}

dd{margin-inline-start:0}

code{color-scheme:dark;font-size:.9em}

:focus{background:var(--accent);color: canvas !important; text-decoration-color: transparent}

svg { vertical-align: middle }

@media screen and (prefers-reduced-motion) {
a[href]:not([href^="#fn"]):not(.user-mention), summary{
  border: 1px solid;
  cursor: pointer;
  display: block;
  margin: 1.5ch 0 0 0;
  padding: 1ch;
  text-align: center;
  text-decoration: none
}

:focus, :is(a[href], summary):hover {
  background: var(--accent, AccentColor);
  border-color: var(--accent, AccentColor);
  color: canvas !important
}
}

blink { animation: blink 2s linear infinite }
@keyframes blink {
  from, 50% { visibility: hidden }
  to { visibility: visible }
}

/*[accesskey]:before{content:'['attr(accesskey)']';font-family:monospace;margin-inline-end:.5ch}*/

nav summary{text-align:left}nav summary::-webkit-details-marker{display:none}nav summary::after{content:' +';float:right}nav [open] summary::after{content:' -';float:right}
