---
---
<!doctype html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}">

{% if page.neon %}{% include head.html neon="true" %}{% else %}{% include head.html %}{% endif %}

  <body>
    <header>{% if page.producer %}
      <span>{{page.producer}}</span>{% endif %}
      <h1 itemprop="headline"><nobr>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</nobr></h2>{% if page.showname %}
      <h2><nobr>{{page.showname}}</nobr></h1>{% endif %}
      <p class="lead my-3">
        {% if page.genre %}<span>{{page.genre}}</span>{% endif %}
        {% if page.year %}<span>{{page.year | date: "%Y"}}</span>{% endif %}
        {% if page.duration %}<span>{{page.duration}}.</span>{% endif %}
      </p>
    </header>

    <section>
      <article itemscope itemtype="http://schema.org/Article">
        <p itemprop="description"></p>
        <main itemprop="articleBody">{% if page.image %}
          <figure><img itemprop="image" width="100%" src="/assets/img/{{ page.image }}"><figcaption></figcaption></figure>{% endif %}
          {{content}}
        </main>
      </article>
    </section>
{% include scripts.html %}
  </body>

</html>
