---
---
<!doctype html>
<html lang="{{page.lang}}">

{% include head.html %}

{% if page.embed %}<meta property="twitter:player" content="{{page.embed.src}}">
<meta property="twitter:player:height" content="288px">
<meta property="twitter:player:width" content="512px">
<style>body { background-image: url('{{ page.image }}'); }</style>{% endif %}

<body class="white bg-black" data-theme="twitter">

<header class="pa3 pa4-ns">{% if page.dir != "/" %}
  <a class="dim" href="../"><svg class="w1 v-mid mb1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor"><title>chevronLeft icon</title><path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path></svg> Ed’s {{page.categories[0]}}{% unless page.categories[0] %}website{% endunless %}</a>{% endif %}
  <h1 class="f1 f-headline-l lh-title-ns tc fw9 ma0">{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</h1>
  <!-- div class="tc pb3">
    <a class="link dim gray f6 f5-ns dib mr3" href="#" title="Store">Store</a>
    <a class="link dim gray f6 f5-ns dib" href="#" title="Contact">Contact</a>
  </div -->
</header>

<article class="pa0" itemscope="" itemtype="http://schema.org/Article">
  <main itemprop="articleBody">{% if page.embed == false %}
  <figure><img itemprop="image" width="100%" src="{{page.image}}"><figcaption class="d-none d-print"></figcaption></figure>{% endif %}

  <div class="measure ph3 ph4-ns center f4 f3-l">{{content}}</div>{% if page.embed %}

  <figure class="center w-100 w-75-ns w-50-l"><div class='embed-container'><iframe src='{{page.embed.src}}' frameborder='0' allowfullscreen></iframe></div>{% if page.embed.caption %}<figcaption class="flex justify-between ph1 ph0-ns">{{ page.embed.caption }} {% endif %}{% if page.embed.cite %}<cite><a class="link color-inherit dim" href="{{page.embed.cite}}">{{page.embed.cite | replace: 'https://', ''}}</a></cite>{% endif %}</figcaption></figure>{% endif %}

  <p class="dn-ns tc b f3">Fantastic Tweets and where to find them</p>
  <ul class="list pl0 measure bt bn-ns center f3 f2-l b--dark-gray tc-ns b-ns">{% for link in site.social.links %}
    <li class="lh-copy ba bn-ns bl-0 bt-0 br-0 b--dark-gray dib-ns"><a itemprop="sameAs" class="link db pa3 color-inherit t-hover t-ignore" href="{{link}}">{% if link contains "twitter" %}<ruby>{% if page.lang == "ja" %}ツイッター{% else %}Twitter{% endif %} <rt class="fw1">&#x300C;<span id="followers">146</span>&#x300D;</rt></ruby>{% endif %}{% if link contains "imdb" %}IMDb{% endif %}{% if link contains "youtu" %}YouTube{% endif %}</a></li>{% endfor %}
  </ul>

  </main>
</article>


<footer class="pv4 ph3 ph5-ns tc gray">{% if site.author.twitter %}
  <blockquote id="lastJoke" class="bg-white black pa3 br3 measure center tl"></blockquote>
  <a itemprop="sameAs" class="link dib nh2 nw2 br-100 color-inherit" href="https://twitter.com/{{site.author.twitter}}" title="">
    <svg class="dn" data-icon="twitter" viewBox="0 0 32 32" style="fill:currentcolor" width="2em">
      <title>@{{site.author.twitter}}</title>
      <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"></path>
    </svg>
    <img class="dib dib-ns br-100 h3 w3" src="https://avatars.io/twitter/{{site.author.twitter}}">
  </a>{% endif %}{% if site.author.name %}

  <p><small class="f5 f4-l db tc t-ignore">&copy; <span class="tracked" id="year">{{site.time | date: "%Y"}}</span> {{site.author.name}}{% if site.author.twitter %} (@{{site.author.twitter}})</small>{% endif %}</p>
</footer>{% if site.author.twitter %}
{% include followers.html js="//edbritton.tumblr.com/tweets.js" tweetID="lastJoke" %}{% endif %}{% endif %}

  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
  <script>twemoji.parse(document.body);</script>

<!--
{{page.url}}, {{page.date}}, {{page.id}}, {{page.categories}}, {{page.collection}}, {{page.tags}}, {{page.dir}}, {{page.name}}, {{page.path}}.
-->

</body>
