---
---
{% assign profile = site.github.owner %}

<!DOCTYPE html>
<html lang="{{page.lang if page.lang else site.lang}}" style="display:flex;place-items:center;min-height:100vh">

{% include head.html %}

<body>

{% if page.dir != "/" or site.github.is_user_page == false %}<nav><a href="../" accesskey="b" aria-label="Go back to the main page.">← Ed’s {{page.categories[0]}}{% unless page.categories[0] %}website{% endunless %}</a></nav>{% endif %}

{% if site.github.is_user_page %}<p align="center"><img src="{{ site.github.owner_gravatar_url }}" height="148"></p>

<h1 align="center"><font face="ui-sans-serif,sans-serif">{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</font></h1>{% endif %}

{{content}}

<nav>
{% for page in site.pages %}{% unless page.layout != "page" or page.permalink == "/404" or page.name == "README.md" or page.hide_home %}
<a href="{{page.url}}">{{page.title | remove: "Ed’s " | capitalize }}</a> 
{% endunless %}{% endfor %}
</nav>

<hr size="0.5px">
<section>
{% unless site.github.is_user_page %}
<a href="">{% octicon mark-github height:16 fill:currentColor %}&nbsp;View&nbsp;on GitHub
<a href="{{ site.github.issues_url }}">{% octicon issue-opened height:16 fill:currentColor %}&nbsp;Contribute</a>
{% endunless %}
{% if profile.company %}{% octicon organization height:16 aria-label:"Company: " fill:currentcolor %}&nbsp;{{ profile.company }} {% endif %}
{% for link in site.social.links %}
{% assign domain = link | slice: 8, 7 %}
{% case domain %}
  {% when "twitter" %}
    <a href="{{ link }}">@{{ link | remove: "https://twitter.com/" }}</a>
  {% else %}
{% endcase %}
{% endfor %}
</section>

{% unless site.github.is_user_page %}
<pre>
{{ site.github }}
</pre>
{% endunless %}

</body>

<!--
[{{page.url}},{{page.date}},{{page.id}},{{page.categories}},{{page.collection}},{{page.tags}},{{page.dir}},{{page.name}},{{page.path}},{{page.layout}}]
-->
