---
---
{% assign profile = site.github.owner %}

<!DOCTYPE html>
<html lang="{{page.lang if page.lang else site.lang}}" style="display:flex;place-items:center;min-height:100vh">

{% include head.html %}

<body>

{% if page.dir != "/" %}<nav><a href="../" accesskey="b" aria-label="Go back to the main page.">← Ed’s {{page.categories[0]}}{% unless page.categories[0] %}website{% endunless %}</a></nav>{% endif %}

{% unless page.path == "README.md" %}<p align="center"><img src="http://github.com/{{ profile.login }}.png" height="148"></p>

<h1 align="center"><font face="ui-sans-serif,sans-serif">{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</font></h1>{% endunless %}

<section itemprop="description">{{content}}</section>

<nav>
{% for page in site.pages %}{% unless page.layout != "page" or page.permalink == "/404" or page.name == "README.md" or page.hide_home %}
<a href="{{page.url}}">{{page.title | remove: "Ed’s " | capitalize }}</a> 
{% endunless %}{% endfor %}
</nav>

<hr size="0.5px">

<section>
{% if profile.company %}{% octicon organization height:16 aria-label:"Company: " fill:currentcolor %}&nbsp;{{ profile.company }} {% endif %}
{% for link in site.social.links %}
{% assign domain = link | slice: 8, 7 %}
{% case domain %}
  {% when "twitter" %}
    <a href="{{ link }}">@{{ link | remove: "https://twitter.com/" }}</a>
  {% else %}
{% endcase %}
{% endfor %}
</section>

<!-- hr color="silver" size="0.5px">

<details>
<summary accesskey="4" align="center"><em>Facts about this website</em></summary>

<ol>
<li>Designed and made in TextEdit on a Mac.</li>
<li>Created without any CSS first, before adding brutally basic CSS at the end.</li>
<li>3Kb in size without images,<br>15Kb with 1× resolution image,<br>and 171Kb with 2× resolution image. <em>If the photo is in colour you got this one.</em></li>
<li>There is not even a whiff of JavaScript in here.</li>
<li>Dark mode works by default, so you’ll only get a white background if your using a modern device.</li>
<li>The fonts are default, therefore quick and lightweight.</li>
</ol>
</details -->

</body>

<!--
[{{page.url}},{{page.date}},{{page.id}},{{page.categories}},{{page.collection}},{{page.tags}},{{page.dir}},{{page.name}},{{page.path}},{{page.layout}}
-->
