<!doctype html>
<html lang="en">

  <head>
    {% include head.html %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    {% if page.neon %}
    <link rel="stylesheet" href="{{ '/assets/css/neon.css' | relative_url }}" />
    {% else %}
    <style>h1 { font-family: SFSerif-Text, Charter, serif !important; }</style>
    {% endif %}
  </head>

  <body class="container bg-dark text-light minh-100">
  <div>
      <header class="mt-5">{% if page.producer %}
            <span class="text-uppercase"><span class="font-weight-bold">{{page.producer[0]}}</span>&nbsp;{{page.producer[1]}}</span>{% endif %}
            <h1 itemprop="headline" class="m-0 neon textfit"><nobr>{% if page.title %}{{page.title}}{% endif %}{% if page.title == nil %}{{site.title}}{% endif %}</nobr></h2>{% if page.showname %}
            <h2 itemprop="description" class="m-0 neon textfit font-weight-lighter"><nobr>{{page.showname}}</nobr></h1>{% endif %}
            <p class="lead my-3">
                {% if page.greentext %}<span class="text-success font-weight-bold mx-1">{{page.greentext}}</span>{% endif %}
                {% if page.greentext and page.classification and page.length %}<span class="mx-1 text-reset text-decoration-none">{{site.time | date: "%Y"}}</span>{% endif %}
                {% if page.classification %}<span class="badge badge-dark font-weight-light align-text-top px-3 text-uppercase">{{page.classification}}</span>{% endif %}
                {% if page.length %}<span class="mx-1">{{page.length}}</span>{% endif %}
            </p>
        </header>

    <section>
      <article itemscope itemtype="http://schema.org/Article">

        {% if page.title == nil %}<h1 itemprop="headline">{{site.title}}</h1>{% endif %}

        <main itemprop="articleBody" class="lead text-justify my-3">

          <figure class="d-none d-print-block"><img itemprop="image" width="100%" src="https://pbs.twimg.com/profile_banners/14079688/1524477294/600x200" alt="Our guy, live on stage holding a microphone in his right hand and the stand in his left. We see the backs of audience members' heads."><figcaption><a href="https://twitter.com/edbritton">@edbritton</a></figure>

          <p>{{content}}</p>

        </main>
      </article>
      
    </section>

    <footer class="lead">{% if site.author.twitter %}
      <a class="btn btn-outline-light border-0 btn-lg bg-blur text-left d-inline-flex align-items-baseline" href="https://twitter.com/edbritton" target="_blank"><i class="fab fa-twitter"></i><span class="d-none d-sm-inline px-2 flex-grow-1">  Twitter</span><span id="followers" class="badge badge-pill badge-dark d-none d-sm-inline">137</span></a>{% endif %}{% if page.instagram %}
      <a class="btn btn-outline-light border-0 btn-lg bg-blur text-left" href="https://instagram.com/{{page.instagram}}" target="_blank"><i class="fab fa-instagram"></i><span class="d-none d-sm-inline pl-2"> Instagram</span></a>{% endif %}{% if page.imdb %}
      <a class="btn btn-outline-light border-0 btn-lg bg-blur text-left" href="{{page.imdb}}" target="_blank"><i class="fab fa-imdb"></i><span class="d-none d-sm-inline pl-2">  IMDb</span></a>{% endif %}
    </footer>
    
    </div>
    
    {% if site.author.twitter %}<div id="twitter" class="bg-blur d-none d-lg-block" style="display:none;">

        <ul id="tweets" class="list-group list-group-flush px-2"></ul>
    </div>
    
    <style>
        #twitter {
            position: fixed;
            right: 0;
            top: 0;
            width: 20%;
            min-width: 272px;
            height: 100%;
            overflow: auto;
            background: rgba(0,0,0,0.6);
            transform: translateX(95%);
            transition: transform .5s ease-in 3s;
        }
        #twitter:hover {
            transform: translateX(0%);
            transition: transform .5s ease-in 0s;
        }
        #twitter li {
            background: transparent !important;
        }
    </style>{% endif %}
    {% if site.author.twitter %}
    <script type="text/javascript" id="tweets">
var linkify, recent_tweets;

linkify = function(text) {
  var i = 0, patterns;
  patterns = {
      link: { find: /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig, replace: '<a href="$1" target="_blank">$1</a>' },
     user: { find: /(^|\s)@(\w+)/g, replace: '$1<a href="http://twitter.com/$2" target="_blank">@$2</a>' },
    hash: { find: /(^|\s)#(\w+)/g, replace: '$1<a href="https://twitter.com/search?q=from:{{site.author.twitter}}%20%23$2" target="_blank">#$2</a>' }
  };
  return text.replace(patterns.link.find, patterns.link.replace)
  .replace(patterns.user.find, patterns.user.replace)
  .replace(patterns.hash.find, patterns.hash.replace);
};

recent_tweets = function(data) {
  var i = 0, tweetText, user = data[0].user, tweetsWithHashtags = [], tweetsWithSpecificHashtag = [], notReplies = [];
  while (i < data.length) {
    if (data[i].entities.hashtags[0]) {
      var j = 0;
      tweetsWithHashtags.push(i);
      var hashtags = (data[i].entities.hashtags[0] ? data[i].entities.hashtags : null);
      while (j < (hashtags ? hashtags.length : 0)) { if (hashtags[j].text === 'joke') tweetsWithSpecificHashtag.push(i); j++; }
    }
    if (!data[i].in_reply_to_user_id) notReplies.push(i);
    //if (tweetsWithSpecificHashtag.indexOf(i) > -1) alert('Got hashtag?');
    if (notReplies.indexOf(i) > -1) {
      tweetText = ((!data[i].entities.urls[0]) ? linkify(data[i].text) : linkify(data[i].text).replace('>' + data[i].entities.urls[0].url + '<', '>' + data[i].entities.urls[0].display_url + '<'));
      tweetText += ((data[i].entities.media) ? '<div><img src="' + data[i].entities.media[0].media_url_https + '" class="img-fluid"></div>' : '');
      document.getElementById('tweets').innerHTML = document.getElementById('tweets').innerHTML + '<li class="list-group-item"><div>' + tweetText + '</div></li>';
    };
    i++;
  };
  //{% if hide %}document.getElementById('name').innerHTML = user.name;
  //document.getElementById('username').innerHTML = '@'+user.screen_name;{% endif %}
  document.getElementById('followers').innerHTML = user.followers_count;
  //{% if hide %}document.getElementById('following').innerHTML = user.friends_count;
  //document.getElementById('profilepic').src = user.profile_image_url_https;
  //document.getElementById('description').innerHTML = user.description;
  //document.getElementById('description').innerHTML += '</p><p><a href="' + user.url + '" title="' + user.entities.url.urls[0].expanded_url + '">' + user.entities.url.urls[0].display_url + '</a>';{% endif %}
};
    </script>
    <script type="text/javascript" src="https://edbritton.tumblr.com/tweets.js"></script>{% endif %}
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://www.kthornbloom.com/textfit/js/textfit.js"></script>
    <script src="https://getbootstrap.com/dist/js/ie10-viewport-bug-workaround.js"></script>
    <script>
    $(document).on('click', 'a[href^="#"]', function (event) {
    event.preventDefault();

    $('html, body').animate({
      scrollTop: $($.attr(this, 'href')).offset().top
     }, 1000);
});
    </script>

  </body>

</html>
