---
---
<!DOCTYPE html>
<html lang="{{page.lang}}">

{% include head.html %}

<body>

{% if page.dir != "/" %}<nav><a href="../" accesskey="b" aria-label="Go back to the main page.">← Ed’s {{page.categories[0]}}{% unless page.categories[0] %}website{% endunless %}</a></nav>{% endif %}


<h1 align="center"><font face="ui-sans-serif,sans-serif">{% if page.title %}{{page.title | downcase | capitalize | replace: "Html", "HTML" | replace: "Css", "CSS"}}{% else %}{{site.title}}{% endif %}</font></h1>

<p itemprop="description" align="center">{{content}}</p>

</body>

<!--
[{{page.url}},{{page.date}},{{page.id}},{{page.categories}},{{page.collection}},{{page.tags}},{{page.dir}},{{page.name}},{{page.path}},{{page.layout}}
-->
