---
---
<!DOCTYPE html>
<html lang="{{page.lang}}">

{% include head.html %}

<body bgcolor="#222222" text="white" link="#409CFF" alink="#FF6961" vlink="#DA8FFF">

{% if page.dir != "/" %}<nav><a href="../" accesskey="b" aria-label="Go back to the main page.">← Ed’s {{page.categories[0]}}{% unless page.categories[0] %}website{% endunless %}</a></nav>{% endif %}

<p align="center"><time datetime="{{page.date|date:'%Y-%m-%d'}}">{{page.date|date:"%Y-%m-%d"}}</time></p>

<h1 align="center"><a name="top">{% if page.title %}{{page.title | capitalize | replace: "Html", "HTML" | replace: "Css", "CSS"}}{% else %}{{site.title}}{% endif %}</a></h1>

{% if page.description %}<p align="center"><big itemprop="description">{{page.description}}</big></p>{% endif %}

{{content}}

</body>

<!--
{{page.url}}, {{page.date}}, {{page.id}}, {{page.categories}}, {{page.collection}}, {{page.tags}}, {{page.dir}}, {{page.name}}, {{page.path}}.
-->
