---
---
<!doctype html>
<html lang="{{page.lang}}">

{% include head.html %}

{% if page.embed %}<meta property="twitter:player" content="{{page.embed.src}}">
<meta property="twitter:player:height" content="288px">
<meta property="twitter:player:width" content="512px">
<style>body { background-image: url('{{ page.image }}'); }</style>{% endif %}

<body class="bg-gray pa4-ns dt vh-100 center">

<article data-theme="system" class="br4-ns pa4 w-100" itemscope="" itemtype="http://schema.org/Article">
  {% include tweet-header.html name="Ed Britton" username="edbritton" %}
  <main itemprop="articleBody" style="max-height:27.4rem" class="dtc v-mid">
  <div style="font-size:28pt;margin:0 0 1.74rem 0">{{content}}</div>{% if page.embed %}

  <figure class="center w-100 w-75-ns w-50-l"><div class='embed-container'><iframe src='{{page.embed.src}}' frameborder='0' allowfullscreen></iframe></div>{% if page.embed.caption %}<figcaption class="flex justify-between ph1 ph0-ns">{{ page.embed.caption }} {% endif %}{% if page.embed.cite %}<cite><a class="link color-inherit dim" href="{{page.embed.cite}}">{{page.embed.cite | replace: 'https://', ''}}</a></cite>{% endif %}</figcaption></figure>{% endif %}

{% if page.embed == false %}
  <figure><img itemprop="image" width="100%" src="{{page.image}}"><figcaption class="d-none d-print"></figcaption></figure>{% endif %}
  </main>
  {% include tweet-footer.html username="edbritton" tweetid="1250348000213258240" tweetdate="2020.4.15" likes="1" %}
</article>

{% if site.author.twitter %}{% include followers.html js="//edbritton.tumblr.com/tweets.js" tweetID="lastJoke" %}{% endif %}

  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
  <script>twemoji.parse(document.body);</script>

<!--
{{page.url}}, {{page.date}}, {{page.id}}, {{page.categories}}, {{page.collection}}, {{page.tags}}, {{page.dir}}, {{page.name}}, {{page.path}}.
-->

</body>
